// ----------- Components -----------

.heading-h2 {
  font-weight: 500;
  font-size: clamp(2.4rem, 3vw, 3.5rem);
  line-height: 143%;
  text-align: center;
  color: $dark-text-color;
}

// ----------- Components -----------